.text-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 50px;
}
p {
  width: 50vw;
  font-size: 30px;
  color: white;
}

#image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.pokemon-image {
  width: 45vw; 
  height: auto; 
  border-radius: 15px; 
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}
.pokeball-icon{
  margin-top: 6px;
}
.button-container p {
  width: 30%;
  font-size: 20px;
}

.button-container button {
  color: black;
  margin-top: 15px;
}
.button-container a {
  color: white;
}

