.favorite-body{
    background-color: tomato !important;
    background-image: none !important;
    overflow-y: scroll;
  }
  
.favoritePage {
text-align: center;
overflow: scroll;
}

.favoritePage h1{
    color: red;
}