.navbar {
    background-color: #333;
    overflow: hidden;
  }
  
  .navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  .navbar-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  .navbar-item a:hover {
    background-color: #ddd;
    color: black;
  }

  .logIn {
    display: flex;
    flex-direction: column;
  }
  